{% block body %}
    <div class="form_error"></div>
    <form method="PUT" class="ajaxEditForm" novalidate action="{{path('activity_edit_ajax', {'id': activity.id} )}}">
        <div id="form_body">
            {% include 'activity/form.html.twig' with {'form': form} %}
        </div>

        <button type="submit" class="btn btn-outline-primary"
                {% if activity.status == "Concluído" %} disabled {% endif %}>Salvar</button>
        {{form_rest(form)}}
    </form>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('body').on('submit', '.ajaxEditForm', function (e) {
                e.preventDefault();

                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize()
                })
                    .done(function (data) {
                        if (typeof data.message !== 'undefined') {
                            alert('Atualizado com sucesso');
                            $('#modalEdit').modal('hide');
                            window.location.reload();
                        }
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        if (typeof jqXHR.responseJSON !== 'undefined') {
                            if (jqXHR.responseJSON.hasOwnProperty('form')) {
                                $('#form_body').html(jqXHR.responseJSON.form);
                            }

                            $('.form_error').html(jqXHR.responseJSON.message);

                        } else {
                            alert(errorThrown);
                        }

                    });
            });

            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                //language: "pt-BR",
                autoclose: true
            });
        });
    </script>
{% endblock %}